#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=3.1
Name=HTML Parser
Comment=GUI for easier web creation
Exec=bash -c 'cd /home/atuser/git/HTML_PARSER/ && ./src/html_parser.py >> html_parser.log 2>&1'
Icon=/home/atuser/git/HTML_PARSER/src/icon.png
Terminal=false
Categories=Languages;C++;Python
Name[en_US]=HTML Parser
