# This file will dictate the syntax for the paragraph body
# NO INLINE COMMENTS

# Escape typical
start_esc =< 
end_esc = >

# Quick definition of class
start_class = (
end_class = )

# Quick definition of ID
start_id = |
end_id = |

# Quick definition of style
start_style = :
end_style = :

# Ignore the next special char
# DONT CHANGE THIS UNLESS YOU KNOW WHAT YOU DOING
esc = \

# The main files of the website
output_files = src/output/index.html,src/output/page1.html

# The input body files that corespond to the output_files  
input_files = src/input/index.in,src/input/page1.in

# The title will name the page that corespond to the output_files  
title=Home,page1

# CSS and JSS files included as dependencies
# All will read as string vectors
css = css/style.css,css/bootstrap.css
js= js/main.js

# Template file
template=src/template/template.html

# The default template variables
# New ones can be created in the template file by
# encasing the name of the variable in [] and then
# adding it to this file
# The value equal to the name will point to a file
# If the value is: $ then the value will be automatically generated ( only works for:TITLE, CSS, JS, and BODY )
TITLE=$
CSS=$
JS=$

HEADER=template/header.html
BODY=$
